@import url('https://fonts.googleapis.com/css2?family=Grape+Nuts&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grape+Nuts&family=Oswald&display=swap');
body{
     background-color: rgb(155, 135, 110);
     margin: 10px;
}
img{
    border-radius: 20px;
}
h1{
    font-family: 'Grape Nuts', cursive;
}
h3{
font-family: 'Grape Nuts', cursive;
font-family: 'Oswald', sans-serif;
}


